.container {
    border-radius: 10;
    text-align: center;
    width: 20px;
    background: #ffe5e5;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

body {
    min-height: 100vh;
    background: url("bg.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center; 
}